* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
}

#outer-circle circle {
  fill: #222;
}


#midd-circle circle, svg rect {
  fill: #666;
}

#inner-circle circle {
    fill: #999;
}
